#navbar_logo {
    height: 50px;
}

.nav-text {
    font-family: 'Roboto';
    font-weight: 700;
}

.nav-item {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    padding: 5px 0;
    margin: 0 8px;
}

.nav-item:hover {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

#centre_heading{
    text-align: center;
    font-family: 'pacifico';
}

.carousel-inner{
    text-align: center;
}

.carousel{
    background-color: rgba(0, 0, 0, 0.6);
}

.row{ margin-left: 0; margin-right: 0;}

.card{
    width: 400px;
    font-family: 'roboto';
    text-align: center;
}

.card-2{
    width: 300px;
    font-family: 'roboto';
    text-align: center;
}


.card-img-top-2{
    height: 200px;
    width: 100px;
    align-items: center;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'KoHo:wght@300';
}

#centre_quote{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(2,122,252); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    font-family: 'roboto';
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

.footer{
    padding: 1%;
    background-color: rgb(186, 203, 186);
    color: rgb(27, 35, 43);
    font-family: 'Roboto'; 
}

#footer_logo {
    width:40%;
}
