#navbar_logo {
    height: 50px;
}

.nav-text {
    font-family: 'Roboto';
    font-weight: 700;
}

.nav-item {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    padding: 5px 0;
    margin: 0 8px;
}

.nav-item:hover {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.footer{
    padding: 1%;
    background-color: rgb(186, 203, 186);
    color: rgb(27, 35, 43);
    font-family: 'Roboto'; 
}

#footer_logo {
    width:40%;
}
